* {
    box-sizing: border-box;
    margin: 0;
}

.navWrapper {
    background-color: rgb(3, 163, 226);
    list-style-type: none;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: larger;
}

.navWrapper a {
    text-decoration: none;
    color: white;
}

.title{
    display: flex;
    justify-content: center;
}

.subTitle {
    display: flex;
    justify-content: center;
}

.galleryWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.galleryWrapper img{
    height: 128px;
}

.galleryCard {
    border: solid 1px grey;
    border-radius: 5%;
    padding: 10px;
}

.pizzaWrapper {
    display: flex;
    padding: 20px;
    margin: 20px;
    gap: 20px;
    border: solid 1px grey;
}

.pizzaWrapper img {
    height: 256px;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.carritoWrapper {
    background-color: rgb(230, 229, 229);
    margin: 20px;
    padding: 20px;
}

.pedidoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
}

.pedidoWrapper img {
    height: 64px;
}